@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}

nav {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.logo {
    font-size: 26px;
    font-optical-sizing: auto;
    font-weight: 400;
    cursor: pointer;
    font-family: "Dancing Script", cursive;
}

.logo a {
    text-decoration: none;
    color: black
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 10px;
}

ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 9999px;
    transition: all 300ms ease;
}

ul li a:hover {
    background-color: #efeeee;
}

.breaker {
    margin: 0 auto;
    width: 79vw;
    border: 1px solid black;
    border-radius: 999px;
}

.searchbox {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.text-area {
    text-align: center;
}

.text-head {
    padding-bottom: 7px;
    font-size: 26px;
    font-weight: 700;
}

.text-p {
    font-size: 16px;
    line-height: 30px;
}

.searchinput {
    display: flex;
    align-items: center;
}

.searchIcon {
    background-color: black;
    color: white;
    padding: 9px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.searchinput>input {
    border: 1px solid black;
    color: rgb(62, 62, 62);
    font-weight: 600;
    padding: 10px 9px;
    outline: none;
    font-size: 17px;
    width: 30vw;
    height: 42px;
    border-radius: 10px 0 0 10px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.imageContainer {
    width: 70vw;
    margin: auto;
}

.imageContainer>img {
    width: fit-content;
}

@media screen and (max-width: 480px) {
    nav {
        padding: 13px 0;
    }

    .logo {
        font-size: 18px;
    }

    ul li a {
        font-size: 13px;
    }

    .searchbox {
        padding: 35px 20px 20px 20px;
    }

    .text-head {
        font-size: 21px;
        padding-bottom: 0px;
    }

    .text-p {
        font-size: 14px;
    }

    .searchinput>input {
        width: 60vw;
    }

    .imageContainer {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-width: auto;
    }
}